* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url("../images/main.jpg");
  background-attachment: fixed;
  background-size: cover;
}
/*p{
  font-size:xx-large;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding:10px;
  
}*/
#main {
  position: absolute;
  width: 400px;
  height: 320px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 60);
  top: calc(50%-175px);
  left: calc(50%- 200px);
  right: 400;
  top: 4%;
  border-radius: 20px;
  background:black;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.78, -0.2, 0.42, 1.45);
  opacity: 0.9;
}

#heading {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 60px;
  color: white;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.699);
}
input {
  padding-left: 25px;
  position: relative;
  background:none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.726);
  line-height: 40px;
  height: 46px;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.432);
  width: 80%;
  left: 10%;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  color:white;
}


input[type="text"] {
  top: 70px;
 
  
}
input[type="email"] {
  top: 80px;
  

}

input[type="tel"] {
  top: 70px;

}
input[type="password"] {
  top: 85px;

}
.usert{
  top:100px;
  color:grey;
  text-align: left;
  padding-left: 50px;
  left: 10%;
  float:left;
  padding-top: 75px;
  font-size:16px;
}
#usertype{
  width:230px;
  height:35px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.726);
  background: none;
  color:white;
  
}
input[type="submit"] {
  top: 105px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.616);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.76),
    rgba(255, 255, 255, 0.63)
  );
  color: black;
  cursor: pointer;
}

#lblsup {
  position: relative;
  width: 105%;
  text-align: center;
  top: 120px;
  font-size: 15px;
  font-weight: bolder;
  color: white;
}
#lblsup label {
  cursor: pointer;
  
}
#radio2:checked ~ #main #form1 {
  transform: translateY(600px);
}
#radio2:checked ~ #main #form2 {
  transform: translateY(0px);
}
#radio2:checked ~ #main {
  height: 560px;
  top: calc(50%-200px);
}
#form1 {
  position: absolute;
  transform: 0.8s ease;
  width: 400px;
}

#form2 {
  position: absolute;
  transform: translateY(-600px);
  transition: 0.5s ease;
  top:0px;
  
}

#form1:checked ~ #main #form2 {
  transform: translateY(-600px);
}

